@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --gray: #F0F0F0,
    --dark: #111,
    --gray-40: rgba(0, 0, 0, 0.4),
    --gray-60: rgba(0, 0, 0, 0.6),
    --dark-red: rgba(255, 51, 51, 1),
    --lite-red: rgba(255, 51, 51, 0.1)
}

/* @font-face {
    font-family: satoshi;
    src: url('../../public/fonts/Satoshi.ttf');
} */