@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    :root{
        --primary: #111827;
        --pure: #fff;
        --danger: #E03137;
        --success: #0CAF60;
        --border: #E9EAEC;
        --light-gray: #E9EAEC;
        --text-gray: #A0AEC0
    }
  }

/* @font-face {
    font-family: satoshi;
    src: url('../../public/fonts/Satoshi.ttf');
} */