@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #111827;
    --pure: #fff;
    --danger: #e03137;
    --success: #0caf60;
    --border: #e9eaec;
    --light-gray: #e9eaec;
    --text-gray: #a0aec0;
  }
}

body, html{
  overflow-x: hidden;
}

.blr {
  box-shadow: 0px 4px 100px #64748b1f;
}
.shadow2 {
  /* box-shadow: 0px 4px 100px #64748b4e; */
  box-shadow: 0px 4px 100px #64748b35;
}

.font_man{
    font-family: "Manrope", sans-serif;
}

.pagination .MuiPaginationItem-page{
  border: 0 !important;
  font-family: "Manrope", sans-serif;
  font-weight: 600 !important;
}

.pagination .Mui-selected,
.pagination .MuiPaginationItem-outlined{
  border-radius: 10px !important;
}
.pagination .MuiPaginationItem-previousNext{
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.pagination{
  margin-left: -1rem !important;
  font-family: "Manrope", sans-serif;
}
.MuiTableSortLabel-icon{
  display: none !important;
}

.MuiTimelineSeparator-root{
  margin: 0 !important;
}